<footer class="site-footer">
  <div class="page-width">
    <div class="footer__content">
      <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}