{% section 'hero-banner' %}

<div class="page-width">
  {% section 'featured-collection' %}

  <div class="product-grid-container">
    {% section 'product-grid' %}
  </div>

  {% section 'newsletter' %}
</div>